
<ion-header>
    <ion-toolbar>
      <ion-title>Favorites</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
    <div *ngFor="let item of favoriteService.list" class="cards">
      <ion-item class="content">
          <ion-img class="iconCard" src={{item?.avatarUrl}} slot="start"></ion-img>
          <ion-label>{{item?.user}}</ion-label>
          <ion-icon (click)="confirmDelete(item?.id)" slot="end" name="trash"></ion-icon>
        </ion-item>
  
        <ion-card [style.margin-top]="'20px'">
          <ion-card-content>
            {{item?.text}}
            <ion-item-divider class="divider"></ion-item-divider>
            Created: {{item?.date | date: 'short'}} <br />
            <a href="{{item?.link}}" *ngIf="item?.linkl != null">Visit my page!</a>
          </ion-card-content>
        </ion-card>
      </div>
  </ion-content>
  